@CHARSET "UTF-8";

.loading {
   overflow: hidden;
   position:fixed;
   z-index: 100000;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   /* height: 100vh;
    width: 100vw; */
   background: #fdfdfd
50% 50%  no-repeat;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";       /* IE 8 */
   filter: alpha(opacity=70);  /* IE 5-7 */
   -moz-opacity: 0.6;          /* Netscape */
   -khtml-opacity: 0.6;        /* Safari 1.x */
   opacity: 0.6;               /* Good browsers */
}
.loading   {
    /* display: block;     */
   visibility: visible;
}
.overlay {
   background: #e9e9e9;
   position:fixed
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: 0.5;
}.imageloader{
position: fixed;
top: 48%;
left: 50%;
width: 10%;/* bring your own prefixes */
transform: translate(-50%, -50%);
}
body.loading {
   overflow: hidden;
}/* Anytime the body has the loading class, our
  modal element will be visible */
body.loading .modal {
   display:inline-block;
}









.ui-tabs-vertical { 
	width: 99%;
	height: 100% 
}

.ui-tabs-vertical .ui-tabs-nav { 
	padding: .2em .1em .2em .2em; 
	float: left; width: 12em; 
}
.ui-tabs-vertical .ui-tabs-nav li {
	clear: left; 
	width: 100%; 
	border-bottom-width: 1px !important; 
	border-right-width: 0 !important; 
	margin: 0 -1px .2em 0; 
}

.ui-tabs-vertical .ui-tabs-nav li a {
	display:block; 
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px; 
}

.ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: left; 
	width: 40em;
}

.assetHeader{
    text-align: center;
    valign: middle;
    font-size: 11pt;
    font-weight: bold;
  }
  
  .assetSubHeader{
    text-align: center;
    valign: middle;
    font-size: 9pt;
    font-weight: bold;
  }
  
  .assetSubHeaderMand{
    text-align: center;
    valign: middle;
    font-size: 9pt;
    font-weight: bold;
    color: maroon;
  }

.assetThemeTitle{
  text-align: center;
  padding: 5px;
  font-size: 10pt;
  font-weight: bold;
}

.readOnlyField{
  font-family: Calibri;
  font-size: 9pt;
  background-color: #DEDEDE;;	
}

.editableField{
  font-family: Calibri;
  font-size: 9pt;
  background-color: white;	
}

table thead tr th {
      background-image: url("../images/gradient.jpg");
      background-repeat: repeat-x;
   }
   
   
   
 .writableFieldDHTML{
	background-color:#fff;
	font-family: calibri;
	font-size: 12pt;
	width: 95%;
	border:0px;
	margin:0px 0px 0px 0px;
}

.dhtmlselect {
	/* font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; */
	/* font-family: 'Effra'; */
	/* font-size: 12pt; */
	text-align: left;
	width: 99%;
	padding-left: 10px;
}


.readOnlyFieldDHTML{
	background-color: #fff; /*#ABADB3*/
	font-family: calibri;
	font-size: 12pt;
	width: 99%;
	height:99.5%;
	border:0px;
	 
}

.assetLabel{
	color:#34495E;
	font-family: calibri;
	font-size: 11pt;
	width: 95%;
	border:0px;
	/* padding-top: 5px;property add by poovathi */
}

.VndrOutlineBorder
{
	height:508px;
	margin-top:10px;
	border:2px solid #029978;
	padding:10px;
	
	
	
}
/*Common  Styles*/
.layoutSkeleton{
	height: 90vh;
	width: 95vw;
	margin:30px;
}

.toolbar-fluid{
    margin-top: -23px;
    width: 100%;
    min-width: 32%;
    max-width: 94%;
    }
   
.greycolor {	
	color:#16a085; 
	font-weight: bold;
	}
.greycolor:hover
{
color:black;	
	
}
.greencolor{
	color:#459c81; 
	font-weight: bold;
}
.panelHeaderSubTitle {	
	color:#34495E;
	margin-left:5px;
	font-weight: bold;
	font-size: 1em;
	letter-spacing: 1pt;
}    

.footerStyles{margin-top: 10px;border: 1px solid #ddd;
border-radius: 4px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);height: 22px;background: #fff;color: #34495E;padding: 3px 0 0 0;font-family: Arial;font-weight: 600;font-size: 11px;}

.divBreak30{
	height:30px;
}

.scrollpanelBody{
	height: 465px;
	overflow-x:scroll;
}
 
 
  
.scrollModelBody{
	
	 /* max-height: calc(100vh - 210px); */ 
	 max-height:98vh;
	 padding:4px;
	 overflow-y: auto;  
	 /* width:900PX; */
}


.scrollModelBody60{
	
	 /* max-height: calc(100vh - 210px); */ 
	 max-height:65vh;
	 padding:4px;
	 overflow-y: auto;  
	   /*width:900PX;  */ 
}
.scrollModelBodyWidth1000{
	/*max-width:1500px;*/
	width:1200px;
}
 
 .fieldsetClsborder{
	border: 1px solid #029978; 
	text-align: left;
	/* padding:20px 0px 0px 0px; commented by poovathi*/
	padding:20px 0px 0px 10px;
	border-radius:6px;
}



.fieldsetborder
{
	    border: 1px solid #DCDCDC;
         padding-top:20px;
         margin-top:15px;
         border-radius:18px;
}
	
}
 .fieldsetClsgreyborder{
	border: 1px solid #e5e5e5; 
	text-align: left;
}


/* responsive fields */

.fld-resp-sm{
	 width: 100px;
}
.fld-resp-md{
	width: 200px;
}
.fld-resp-xs{
	width: 60px;
}
.fld-resp{
	width: 300px;
}